* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(to right, #ffefba, #ffffff);
  font-family: "Dosis", sans-serif;
}
header {
  font-size: 50px;
  text-align: center;
  padding-top: 40px;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
}
.nav-bar {
  overflow: hidden;
  display: flex;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
}
.meny {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  background-color: rgb(253, 240, 197);
}
.meny li {
  list-style: none;
  font-size: 20px;
  padding: 0 30px;
}
.meny li a {
  text-decoration: none;
  color: black;
}
.bilder {
  display: flex;
  justify-content: center;
}
.snusbilde1 {
  padding-top: 50px;

  width: 340px;
  height: 200px;
  object-fit: cover;
  display: inline-block;
}
.snusbilde3 {
  padding-top: 50px;

  width: 300px;
  height: 250px;
  object-fit: cover;
  display: inline-block;
}
.button {
  border: none;
  padding: 10px;
  font-family: "Dosis", sans-serif;
  background: transparent;
  font-size: 25px;
}
.button:hover {
  cursor: pointer;
  border-bottom: 1px solid black;
}

.paragraph {
  width: 100%;
  padding-bottom: 40px;
}
.paragraph p {
  width: 50%;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.paragraph li {
  padding-top: 10px;
  list-style-type: none;
  text-align: center;
}
#products,
#about-us,
#what-we-do {
  scroll-margin-top: 93px;
}

h2 {
  text-align: center;
  align-items: center;
  margin: 40px;
  border: 2px;
  background-color: rgba(white, white, white, 0.9);
  font-weight: bold;
  margin: auto;
}
.footer {
  height: 130px;
  padding-top: 50px;
  border-top: 1px solid black;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .bilder {
    flex-wrap: wrap;
  }
  .snusbilde1,
  .snusbilde3 {
    width: 30vw;
    height: 30vw;
    object-fit: contain;
  }
